footer a{
  text-decoration: none;     
  color:#424242  !important;            
  display: block;             
  margin-bottom: 8px;         
  font-size: 15px;
}



footer p{
  font-weight: 600;
  margin-bottom: 12px;
}

footer .col{
  margin-bottom: 25px;
}
